#page-wrap{
	position: relative;
	z-index: 2;
	margin: 50px auto;
	padding: 0px;
}
/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;

#bg{
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
}

.navbar navbar-default{
	background-color: rgb(204, 204, 204);
}

#welcome{
	font-size: 140%;
	color: #fff7ff;
	
}

#paragraph{
	-webkit-text-stroke: .75px black;
	font-size: 120%;
}

h1{
	font-size: 300%;
	color: #0000ff;
	-webkit-text-stroke: .75px black;
}

li{
	margin-left: 5px;
	color: #0000ff;
}