#page-wrap {
	position: relative;
	z-index: 2;
	margin: 50px auto;
	padding: 20px;
}
/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;

#bg {
	position: absolute; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
}

#bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 100%;
	min-height: 100%;
} 

.navbar navbar-default{
	background-color: rgb(204, 204, 204);
}

.container{
	text-align: center;
}

#welcome{
	font-size: 300%;
	color: #fff6ff;
}

h1{
	font-size: 300%
}

li{
	margin-left: 5px;
}

.Sign_Log{
	display: inline;
	font-size: 20px
}

.SignUp{
	border: 0px solid;
	float: left;
	margin: 50px;
	border-collapse: separate;
	border-spacing: 200px;
	align: center;
	color: #fff9ff;
}

.Login{
	border: 0px solid;
	float: right;
	margin: 50px;
	border-collapse: separate;
	border-spacing: 200px;
	align: center;
	color: #fff9ff;
}

.submit{
	color: #41393f
}

.footer{
	font-size: 80%;
	color: #fff9ff;
}